<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón o flecha para regresar -->
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back-outline"></ion-icon> <!-- Icono de flecha -->
      </ion-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Encabezado de la sección de contacto -->
  <div class="contact-info">
    <h2>¿Tienes alguna pregunta o queja?</h2>
    <p>
      Si tienes algún inconveniente o una consulta relacionada con nuestra tienda o productos, por favor, no dudes en contactarnos. Estaremos encantados de ayudarte.
    </p>
    <p>
      Envíanos un correo a <a href="mailto:Software&#64;gmail.com">Software&#64;gmail.com</a> y te responderemos lo más rápido posible.
    </p>
  </div>
</ion-content>
